ghost:
  zip: salt://ghost/files/ghost.zip # Defaults to downloading from online.
  themes: salt://ghost/files/themes
  frontend: apache
  blogs:
    - blog.domain.com
  default_confs:
    privacy:
      useUpdateCheck: true
      useGoogleFonts: false
      useGravatar: true
      useRpcPing: true
      useStructuredData: false
  local_confs:
    privateblog.domain.com:
      privacy:
        useTinfoil: true
