{%- set ghost = salt['grains.filter_by']({
    'defaults': {
        'zip': 'salt://ghost/files/ghost.zip',
        'themes': 'salt://ghost/files/themes',
        'frontend': 'nginx'}
    },
    merge=salt['pillar.get']['ghost'],
    default='defaults') %}

{%- set pkgnames = salt['grains.filter_by']({
    'Debian: {'npm': 'npm',
              'node': 'nodejs-legacy',
              'unzip': 'unzip'}
    },
    merge=salt['pillar.get']['ghost:lookup:pkgnames'],
    default='Debian') %}
              
{%- set apache = salt['grains.filter_by']({
    'Debian': {'pkg': 'apache2',
               'srv': 'apache2',
               'conf': '/etc/apache2'},
    'RedHat': {'pkg': 'httpd',
               'srv': 'httpd',
               'conf': '/etc/apache2'}
    },
    merge=salt['pillar.get']['ghost:lookup:apache'],
    default='Debian') %}

{%- set nginx = salt['grains.filter_by']({
    'Debian': {'pkg': 'nginx',
               'srv': 'nginx',
               'conf': '/etc/nginx'},
    },
    merge=salt['pillar.get']['ghost:lookup:nginx'],
    default='Debian') %}

