{%- set pkgnames = salt['grains.filter_by']({
    'Debian': {'npm': 'npm',
              'node': 'nodejs-legacy',
              'unzip': 'unzip'}
    },
    merge=salt['pillar.get']('ghost:lookup:pkgnames'),
    default='Debian') %}

