{%- set pkgnames = salt['grains.filter_by']({
    'Debian': {'npm': 'npm',
              'node': 'nodejs-legacy',
              'unzip': 'unzip'}
    },
    merge=salt['pillar.get']('ghost:lookup:pkgnames'),
    default='Debian') %}

{%- set servicepath = salt['grains.filter_by']({
    'default': '/etc/init.d/ghost-{}',
    'Ubuntu': '/etc/init/ghost-{}.conf'},
    grain='os',
    merge=salt['pillar.get']('ghost:lookup:servicepath'),
    default='default') %}

